.service{
	background-color:#f3f7ff;
}
.container{
	max-width:100%;
	height:auto;
	margin-left:15%;
	margin-right:15%;
}
.service-box{
	padding-bottom:50px;
}
.ser-head h3{
	display:flex;
	justify-content:center;
	padding-bottom:15px;
	 font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;padding-top:30px;
}
.ser-head p{
	display:flex;
	justify-content:center;
	text-align:center;
	padding-bottom:20px;
	font-weight: 100;
    font-family: ui-monospace;
    font-size: 13px;
}
.flex-ser{
	display:flex;
	flex-wrap:wrap;
}
.ser-cont {
	width:50%;
	padding:25px;
	box-sizing: border-box;
	position: relative;
	margin-bottom:90px;
	
}
.ser-img img{
	width:100%
}
.ser-text{
    box-shadow: 0 0 20px rgba(182, 182, 182, 0.548);
}

.ser-text{
   background-color: white;
   position: absolute;
   top:80%;
   left:12%;
   width: 77%;
   right: 5%;
   bottom: -25%;
   align-items:center;
   color: black;
   padding:15px;
}
.ser-text h4{
	padding:18px 0 10px 0;
	font-family: fangsong;
    font-weight: normal;
    font-size: 15px;
	display:flex;
	justify-content:center;
}
.ser-text p{
	   font-family: "Open Sans", sans-serif;
	   font-size: 10px;
	   padding:0;
	   line-height:1.5;
	   padding:0 0 10px 0;
}
.ser-text span{
	font-size:13px;
	padding-left:10px;
}